@import 'https://fonts.googleapis.com/css?family=Courgette';
@import 'https://fonts.googleapis.com/css?family=Merriweather:300i';
* {
  padding: 0;
  margin: 0;
}

html, body {
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

body {
  margin: 0;
  padding: 0;
  background: #555;
  background-attachment: fixed;
}

img {
  width: 100%;
}

#mainImg ul li .title, #mainImg ul li .subTitle {
  text-shadow: 0 0 5px #162029;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 1;
}

#mainImg {
  background: transparent;
  margin: auto;
  width: 600px;
  height: 450px;
  position: relative;
  overflow: hidden;
  box-shadow: 5px 5px 18px #162029;
}
#mainImg ul {
  list-style-type: none;
  position: absolute;
  left: 0;
  width: 3000px;
}
#mainImg ul li {
  width: 600px;
  position: relative;
  float: left;
}
#mainImg ul li .title {
  font-family: "Courgette", cursive;
  font-size: 250%;
  top: 70%;
}
#mainImg ul li .subTitle {
  font-family: "Merriweather", serif;
  top: 80%;
}

#pre, #next {
  cursor: pointer;
  text-shadow: 0 0 5px #162029;
  line-height: 460px;
  vertical-align: center;
  font-size: 400%;
  z-index: 1;
  position: absolute;
  width: 50px;
  height: 100%;
  padding: 0 10px;
  color: white;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
#pre:hover, #next:hover {
  font-size: 450%;
  text-shadow: 0 0 5px white;
}

#next {
  right: 0;
}
#next #nextBtn {
  float: right;
}

#selector {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 90%;
}
#selector ol {
  list-style-type: none;
}
#selector ol li {
  cursor: pointer;
  float: left;
  border: 1px solid white;
  margin: 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: transparent;
}

.active {
  background: white !important;
}

.scale {
  -webkit-transition-duration: 8s;
  transition-duration: 8s;
  transform: scale(1.5);
}

.unScale {
  -webkit-transition-duration: 3s;
  transition-duration: 3s;
  transform: scale(1);
}
